<div class="container">

	<h2 id="title">Customers</h2>

	<nav class="navbar well">

		<ul class="nav nav-pills">

			{{#link-to 'subscriptions' tagName="li" href=false}}
			    {{#link-to 'subscriptions' bubbles=false}}
			        Subscriptions
			    {{/link-to}}
			{{/link-to}}

			{{#link-to 'trials' tagName="li" href=false}}
			    {{#link-to 'trials' bubbles=false}}
			        Trials
			    {{/link-to}}
			{{/link-to}}

		</ul>
	</nav>
	
	{{ customer-input add=(route-action "add") }}

	{{outlet}}

</div>
